

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

@media screen and (min-width:350px) and (max-width: 800px)
and (min-height: 200px) {

  @font-face {
    font-family: 'Blacksword';
    src: url('../font/Blacksword.otf')
  }

    login {
      font-family: "Blacksword";
      font-size: px;
      color: rgba(0, 0, 0, 0.85);
    }

  
  
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
    background: linear-gradient(-60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 100%;
    animation: a 60s ease infinite;
}

@keyframes a {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

}

.login {
  width: 320px;
  height: 600px;
  margin: 40px 0px 40px 0px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

/* .login {
  width: 40%;
  height: 650px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

#regForm {
    width: 100%;
    margin: auto 0;
}

.login_id {
  margin-top: 20px;
  width: 80%;
  cursor: pointer;
}

.login_id input {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  
}

.login_pw {
  margin-top: 20px;
  width: 80%;
}

.login_pw input {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_etc {
  padding: 10px;
  width: 80%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.submit {
  /* margin-left: 25px; */
  margin-top: 20px;
  width: 80%;
}

.submit button, .emailCheck {
  width:  100%;
  height: 40px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: #E089AC;
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
}

.emailCheck {
  display: inline;
  float: right;
  width: 110px;
  height: 30px;
}

.submit button {
    margin-bottom: 20px;
}


#title {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.85);
}

#wrap_child {
  margin-left: 39x;
}