* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	background: linear-gradient(-60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 100%;
	animation: a 60s ease infinite;
}

@keyframes a {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {
  font-family: 'Blacksword';
  src: url('../font/Blacksword.otf')
}

#title {
  font-family: "Blacksword";
  font-size: 60px;
  color: rgba(0, 0, 0, 0.85);
}

#bar1 {
  border: 0.1px solid rgb(150, 150, 150);
  background-color: rgb(150, 150, 150);
  width: 100%;
  float: left;
}

#bar2 {
    border: 0.1px solid rgb(150, 150, 150);
    background-color: rgb(150, 150, 150);
    width: 100%;
    float: left;
}

.login {
  width: 380px;
  height: 650px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#outter {
  width: 250px;
}

.between1 {
  margin-bottom: 30px;
}

.login_id {
  padding-top: 20px;
  cursor: pointer;
  justify-content: center;
  font-size: 15px;
  text-align: center;
}

.login_id input {
  width: 100%;
  height: 40px;
  margin-top: 0px;
  padding: 0px 5px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  
}

.login_pw {
  margin-top: 20px;
}

.login_pw input {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 5px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
}

.login_etc {
  padding: 0px 10px 0px 10px;
  width: 50%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  float: right;
}

.login_etc input {
  margin-left: 5px;
}

.between2 {
  margin-top: 20px;
}

.submit input {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: #E089AC;
  color: white;
  font-weight: 500;
  font-size: 18px;
  
  letter-spacing: 2px;
  cursor: pointer;
}